{
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": ["error"],
      "import/extensions": 0,
      "import/no-dynamic-require": 0,
      "import/no-extraneous-dependencies": 0
    }
}
