// @import '@assets/styles/colors.scss';
@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/responsive.scss';

.Header {
  position: relative;
  width: -webkit-fill-available;
  display: flex;
  padding: 24px 26px 24px 26px;
  justify-content: space-between;
}

.leftSide {
  overflow: hidden;
}

.leftSide a {
  float: left;
  color: $menu-item-text-color;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 14px;
  height: 16px;
  line-height: 32px;
  cursor: pointer;
}

.themeMode {
  margin-top: 6px;
}